<%- include('layout/dashboard_header') %>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-9" style="margin-left: 20%">
      <div class="card mb-4">
        <div
          class="card-header pb-0 d-flex justify-content-between align-items-center"
        >
          <h6>Cars Table</h6>
          <a href="/cars/add" class="btn btn-primary">Add Cars</a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <% if (cars != '') { %>
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Model
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Harga Sewa
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Images
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Created At
                  </th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <% cars.forEach((row, index) => { %>
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm"><%= row.model %></h6>
                        <!-- <p class="text-xs text-secondary mb-0">
                          john@creative-tim.com
                        </p> -->
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      <%= row.rentPerDay %>
                    </p>
                    <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
                  </td>
                  <td class="align-middle text-center text-sm">
                    <img
                      src="<%= row.images %>"
                      width="50"
                      class="img-thumbnail"
                    />
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold"
                      ><%= row.userId %></span
                    >
                  </td>
                  <td class="align-middle">
                    <a
                      href="/cars/edit/<%= row.uuid %>"
                      class="text-secondary font-weight-bold text-xs"
                      data-toggle="tooltip"
                      data-original-title="Edit car"
                    >
                      Edit
                    </a>
                    <a
                      href="/delete/<%= row.id %>"
                      class="text-secondary font-weight-bold text-xs"
                      data-toggle="tooltip"
                      data-original-title="Edit car"
                    >
                      | Delete
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% } else { %>
            <h1 class="text-center text-secondary mt-5">
              No Cars found in the database
            </h1>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('layout/dashboard_footer') %>
